* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(34, 31, 31);
    --secondary-color:#7c393c;
    --accent-color: rgb(230, 28, 28);
    --suggestion-color: #27303b;
    --text-color: white;
}
ul{

}
li{
    list-style: none;

}
a{
    text-decoration: none;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}

main {
    margin: 25px;
    display: grid;
    gap: 25px;
}

.section-one {
    background-image: url('wp6934527.webp');
    min-width: 100%;
    height: 35rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 3rem;



}

.navbar a {
    color: var(--text-color);
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration: aqua;
    color: var(--text-color);
}

.section-one-content {
    display: grid;
    left: 10rem;
    position: relative;
    top: 40px;
    max-width: 40rem;
    color: var(--text-color);
    height: max-content;
}

.section-one-content h1 {
    font-size: 2rem;

}

.section-one-content button:nth-child(1) {
    margin-top: 25px;
    max-width: 10rem;
    background-color:var(--accent-color);
    border-radius: 5px;
    color: var(--text-color);
}
.section-one-content button:nth-child(2){
    margin-top: 25px;
    max-width: 10rem;
    background-color:var(--secondary-color);
    border-radius: 5px;
   visibility: hidden;
    color: var(--text-color);

}


.section-one-content button:hover {
    background-color: var(--secondary-color);

}

.section-two {
    background-color: var(--primary-color);
    
}
.section-two-content>div:hover{
    padding:50px;
}

.section-two-content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 25px;
    width: 100%;
    transition: all linear 1ss;
    


}


.section-two-content>div:nth-child(1) {
    background-image: url('ecommerce.jpg');
    background-size: cover;
    background-size: 25rem;
    background-position: 20%;
    display: none;

}

.section-two-content>div:nth-child(2) {
    background-image: url('diamonds.jpg');
    background-size: cover;
    background-size: 25rem;
    background-position: 20%;
    display: none;
}
.section-two-content>div:nth-child(3){
    background-image: url('iphoneShop.jpg');
    background-size: cover;
    background-size: 25rem;
    background-position: 20%;
    display: none;
}
.section-two-content>div:nth-child(4){
    background-image: url('uu02c8gzqa331.jpg');
    background-size: cover;
    background-size: 25rem;
    background-position: 20%;
    display: none;
}

.section-two-content>div {
    height: 20rem;
    background-color: var(--suggestion-color);
    transition: all linear 0.3s;
}

.section-threes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;

}

.section-threes>div {
    width: 30rem;
    height: 250px;
    background-color: var(--suggestion-color);
    border-radius: 10px;
    cursor: grab;
    transition: all linear 0.2s;
}

.about-me {
    margin-top: 25px;
    width: 100%;
    height: 20rem;
}

.links-footer {
    margin-top: 25px;
    width: 100%;
    height: 20rem;
}
.section-threes > div:hover {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 25px rgb(85, 83, 83);
   
    

  

}
.section-three-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.skill-image {
   
}
.skill-description {
    color:white;
}

.footer-links{
    display: flex;
    justify-content: center;
    height: auto;
}
.footer-links > div{
    width: 100%;
    gap:25px;
    height: 40rem;
}
.footer-links-content{
    background-color: var(--suggestion-color)
}

.footer-list{
    display: grid;
    gap: 25px;
}
.footer-list li{
    display: flex;
    gap:25px;
    margin-top:25px;
}
.why-me{
    background-color: var(--suggestion-color);
    color:var(--text-color);
    font-size: 25px;
}

.footer-list > li{
    transition: all linear 0.3s;
    border-radius: 10px;
    cursor: pointer;
}
.footer-list > li:nth-child(1):hover{
    background-color: rgb(21, 132, 175);
}
.footer-list > li:nth-child(2):hover{
    background-color: rgb(243, 94, 94);
}
.footer-list > li:nth-child(3):hover{
    background-color: green;
}
.footer-list > li:nth-child(4):hover{
    background-color: rgb(48, 87, 214);
}
.footer-list > li:nth-child(5):hover{
    background-color: rgb(210, 68, 238);
}